@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,300&display=swap");

/* GERAIS */
* {
  box-sizing: border-box;
}
body {
  background-color: #eeeeee;
}

/* HEADER */
header {
  background-color: #cf2b2b;
  color: #ffffff;

  width: 100%;
  height: 92px;

  padding: 15px;

  box-shadow: 0px 1px 10px #000;

  position: fixed;
  top: 0;
  left: 0;
}
main {
    margin-top: 120px;
}
header h1 {
  font-size: 44px;
  font-family: "Righteous", cursive;
  font-weight: 400;
  margin-bottom: 5px;
}
header h2 {
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}


/* ESCOLHER */
.escolher {
  width: 100%;
  margin: 30px 0;
  padding: 0 10px;
}
.escolher h3 {
  color: #333333;
  font-size: 26px;
  font-family: "Righteous", cursive;
  font-weight: 400;
  margin-bottom: 10px;
}

/* PRATOS divs */
.pratos, .bebidas, .sobremesas {
  display: flex;
  overflow-x: scroll;
}
.prato, .bebida, .sobremesa {
  background-color: #fff;
  width: 172px;
  height: 216px;

  margin-right: 5px;
  padding: 10px;
  border-radius: 9px;
}

/* PRATOS textos */
.prato p, .bebida p, .sobremesa p {
  margin: 10px 0;
  font-family: "Roboto", sans-serif;
}
.nome {
  font-size: 16px;
  color: #333333;
  font-weight: 700;
}
.descricao {
  font-size: 15px;
  color: #a6a6a6;
  font-weight: 300;
}
.preco {
  font-size: 16px;
  color: #000000;
  font-weight: 400;
}

/* FECHAR PEDIDO */
footer {
  display: flex; /* pra funcionar o margin 0 auto*/
  justify-content: center;
  align-items: center;
  background-color: #fff;
  width: 100%;
  height: 92px;

  position: fixed;
  bottom: 0;
  left: 0;
}
main {
    margin-bottom: 120px;
}
.fechar-pedido {
  background-color: #cbcbcb;

  width: 364px;
  height: 53px;

  padding: 0 75px;

  border: none;
  border-radius: 50px;

  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: #ffffff;
}

/* ITEM-SELECIONADO */
.item-selecionado {
    border: 1px solid #32B72F;
}